@font-face {
  font-family: "iconfont"; /* Project id 4135295 */
  src: url('iconfont.woff2?t=1687575068817') format('woff2'),
       url('iconfont.woff?t=1687575068817') format('woff'),
       url('iconfont.ttf?t=1687575068817') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spider:before {
  content: "\eba0";
}

